body {
  margin: 0;
  padding: 0;
}

.intro-sec {
  display: flex;
  width: 100%;

  margin-top: 20vh;
  margin-bottom: 10vh;
}
.sec1-heading-container {
  width: 50%;
  margin-left: 5%;
}
.sec1-heading-container:hover {
  outline: 2px solid lightskyblue;
}
.sec1-heading {
  font-size: 2.5em;
  font-family: "Righteous", cursive;
  color: #262626;

  width: 100%;
  position: relative;
}
.sec1-para {
  color: #262626;
  font-size: 1.1em;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  display: inline-block;

  margin-top: 5vh;

  margin-bottom: 10vh;

  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  border-radius: 22px;

  padding: 10px 20px;
  background: linear-gradient(to right, #0099cc 0%, #99ccff 100%);
}
.buttons:hover {
  background: linear-gradient(to right, #3366ff 0%, #99ccff 100%);
}

.button-icon {
  font-size: 1.2em;
}

.sec1-images {
  display: flex;
  width: 50%;
  margin-left: 5%;
  margin-right: 2%;
}
.sec1-images:hover {
  outline: 2px solid lightskyblue;
}

.sec1-image-container1 img {
  width: 60%;
  margin-left: 5%;
  border-radius: 15px;
}
.sec1-image-container2 img {
  width: 89%;

  margin-top: 25vh;
  margin-left: -25%;
  border-radius: 15px;
}

/* horizontal line */
hr {
  border: 0;
  height: 2px;
  margin: 18px 0;

  position: relative;
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(10%, rgba(0, 0, 0, 0)),
    color-stop(50%, rgba(0, 0, 0, 0.65)),
    color-stop(90%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  ); /* IE10+ */
  background: linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

hr:before {
  content: "";
  display: block;
  border-top: solid 1px #f8f8f1;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

/* ---------- */
.brandlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo-hr {
  width: 100px;
  padding: 0 2%;
}

.collection-headline {
  text-align: center;
  color: #262626;
  margin: 10vh 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 800;
}

.products-sec {
  margin: 0 10%;
  margin-bottom: 5vh;
  display: grid;

  justify-content: center;
  align-items: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8%;
  grid-row-gap: 5%;
  width: 40%;
}

.individual-product {
  position: relative;

  padding: 3vh;

  box-shadow: 2px 5px 30px gray;
  border-radius: 10px;
}
.individual-product h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
.individual-product h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

.individual-product p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #333333;
  font-weight: 550;
}

.individual-product img {
  width: 250px;
  height: 190px;
}
.ratings {
  display: flex;
  justify-content: left;
  align-items: center;
}
.ratings i{
  color: #f80;
}
.ratings p {
  padding: 0 10px;
}
.product-sec-button {
  margin-top: 25vh;
  margin-left: 80%;
  margin-bottom: 5vh;
  text-decoration: none;
  color: #0099cc;
  display: inline-block;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}

.tracking {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10vh;
}

.tracking-form {
  margin-top: 5vh;

  display: flex;
  flex-direction: column;

  border: 1px solid lightgray;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;

  border-radius: 10px;

  font-family: Arial, Helvetica, sans-serif;
}
.tracking-form h1 {
  display: flex;
  justify-content: center;
  font-size: 2em;
}
.tracking-form input {
  font-size: 0.9em;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 200px;

  border-radius: 22px;
  border: 1px solid lightgray;
}
.tracking-form label {
  margin-top: 3vh;
  margin-bottom: 1vh;

  font-weight: 550;
}

.track-button {
  font-size: 1em;
  font-weight: 550;
  color: black;

  margin-top: 8vh;
  padding: 10px 70px;
  border: none;
  border-radius: 22px;
  background: linear-gradient(to right, #0099cc 0%, #99ccff 100%);
}

footer {
  width: 100%;
  height: 30vh;

  background: #32324e;
}
footer h1 {
  text-align: center;
  font-size: 1.5em;
  padding-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
footer p {
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

footer div {
  text-align: center;
  color: white;

  text-decoration: none;
  font-size: 1.5em;
}
footer div a {
  color: white;
  padding: 5px 5px;
}
